body {
  background-color: black;
  width: 1200px;
}

#center {
    width: 50%;
    float: left;
    background-image: url('http://i62.tinypic.com/11wc70m.png');
    background-repeat: no-repeat;
    background-position:  29%;
}

#leftpanel {
  width:25%;
  float: left;
  text-align: right;
  margin-right: 50px;
  margin-top: 75px;
}

#hitsleft {
  margin-top: 75px;
}
/*how do i get the hits left to go up?*/
/*#rightpanel {
  position: absolute;
  right: 0px;
  margin-top: 75px;
  width: 25%;
}*/

.row {
  float:left;
}

.cell {
  width: 50px;
  height: 50px;
  background: #black;
  box-sizing: border-box;
  border: 1px solid #9cfe46;
  float: left;
  color: white;
}

.boatcell {
  width: 20px;
  height: 20px;
  background: #black;
  box-sizing: border-box;
  border: 1px solid #9cfe46;
  float: right;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Orbitron';
  font-size: 48px;
  margin: 0 auto;
  padding-top: 20px;

}

h3 {
  color: white;
  font-family: 'Orbitron';
}

#hitsleft {
  color: white;
  font-family: 'Orbitron';
  margin-left: -50px;
}

img {
  width: 50px;
  height: 50px;
}
